# WEB
WEB_PORT=8080
WEB_URL=http://localhost:8080

# API
API_PORT=3000
API_URL=http://localhost:3000

# DATABASE
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app_db

# GOOGLE OAUTH
# bắt buộc phải có để đăng nhập
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/callback

# AUTH
JWT_SECRET=
JWT_COOKIE_NAME=__Host-whitecat_token
